.home {
    height: 100vh;
    padding-top: 65px;
}
.home .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.home .container .text{
    width: 45%;
}
.home .container .text h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.home .container .text h3 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0ef;
}
.home .container .text h3 .writer {
    animation: writer .4s linear infinite;
}
@keyframes writer {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.home .container .text p {
    max-width: 100%;
    font-size: 18px;
    line-height: 2;
}
.home .container .rot-imges {
    position: relative;
    overflow: hidden;
}
.home .container .rot {
    width: 350px;
    height: 350px;
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: #0ef;
    animation: rot 4s linear infinite;
    overflow: hidden;
    border-radius: 200px;
    border: 10px solid #FFF;
}
.home .container .home-imges{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 300px;
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: #0ef;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: .5s;
}
@keyframes rot {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
.home .container .linkes {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.home .container .linkes .btn{
    margin-bottom: 20px;
}
.home .container .linkes .btn a{
    display: inline-block;
    background-color: #0ef;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color: black;
    transition: .3s;
    box-shadow: 0 0 10px #0ef;
    border: none;
    outline: none;
}
.home .container .linkes .btn a:hover {
    background-color: #001a25;
    color: #FFF;
}
.home .container .linkes > a {
    margin-right: 10px;
    display: inline-block;
    color: #0ef;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
}
.home .container .linkes > a svg {
    font-size: 40px;
    transition: .3s;
}
.home .container .linkes > a svg:hover {
    box-shadow: 0 0 20px #0ef;
    border-radius: 70%;
    scale: 1.2;
}
@media (max-width: 767px) {
    .home .container {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .home .container .text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .home .container .text h2{
        font-size: 25px;
    }
    .home .container .text h3{
        font-size: 22px;
    }
    .home .container .text p {
        max-width: 450px;
        font-size: 15px;
    }
    .home .container .rot {
        width: 300px;
        height: 300px;
    }
    .home .container .home-imges {
        width: 250px;
        height: 250px;
    }
    .home .container .linkes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 5px;
        padding: 0 10px;
    }
    .home .container .linkes .btn {
        margin-bottom: 0;
    }
    .home .container .linkes .btn a {
        font-size: 18px;
        padding: 7px;
    }
    .home .container .linkes a {
        margin-right: 0px;
        height: 100%;
    }
}
@media (max-height: 760px) {
    .home .container .rot {
        width: 250px;
        height: 250px;
    }
    .home .container .home-imges {
        width: 200px;
        height: 200px;
    }
    .home .container .text h2 {
        font-size: 20px;
    }
    .home .container .text p {
        line-height: 1.5;
    }
}